<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Friends</title>
</head>
<body>
<h3>Friends</h3>
<h3>*** {{ uid }}  {{ email }} ***</h3>
(<a href="/invite">Back</a>)

<ul>
    {% for friend in friends %}
    <li>
        <h5>
            {{ friend.uid }} {{ friend.email }} id:{{ friend.id }}
        </h5>
        <div style="display: flex">
            <small style="color: gray; border-bottom: green solid;">{{ friend.created_at }}</small>
            <small>{{ invite }}</small>
            <div style="display: flex; padding-top: 10px;">
                <p  style="padding: 10px;">
                <form method="post" action="/invite/{{ friend.id }}/delete">
                    <button type="submit" onclick="return confirm('Are you sure?');">X</button>
                </form>
                </p>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>

</body>
</html>