<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<h3>Registration</h3>
<div style="display: flex; width: 70%; margin: auto;">
    <div>
        <form action="/registration/signup" method="post">
            <div class="container">
                <input type="text" placeholder="Username" name="uid">
                <input type="password" placeholder="Password" name="pwd">
                <input type="password" placeholder="Repeat password" name="pwdrepeat">
                <input type="text" placeholder="E-mail" name="email">
                <button type="submit" name="submit">SIGN UP</button>
            </div>
        </form>
    </div>
    <div>
        <form action="/registration/login" method="post">
            <div class="container">
                <input type="text" placeholder="Username" name="uid" required>
                <input type="password" placeholder="Password" name="pwd" required>
                <button type="submit" name="submit">LOGIN</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>